*{	
    
    margin:0;
    padding:0;
}

.logo{
	
	float:right;
	display:inline-block;
	padding-right:34px;
	font-size:45px;
	color:yellow;
}

.main{
	
	padding-top:30px;
	padding-left:25px;
	background-color: #D0D0D0;
    width: 100%;
    position: fixed;
    height:60px;
}

ul{
	
	font-size:25px;	
}

ul li{
	
	display:inline-block;
}

ul li a{
	
	color:black;
	font-family: Comic Sans, Comic Sans MS, cursive;
	padding:10px 20px;
	border:2px solid #fff;
	transition:0.6s ease;
}

/*pseudo-classes*/
ul li a:hover{
	
	background-color:#fff;
	color:#000;
}

.current{
	
	background-color:red;
}


#head{
	
    color:red;	
	text-align:center;
	text-decoration:underline;
	padding-top:98px;
	padding-bottom:15px;
}

#list{
	
	margin:35px;
	font-family:arial, sans-serif;
	font-size:25px;
}

